name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (Optional) Run workflow manually
  workflow_dispatch:
  # (Optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: JosselinPerret
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Paris
          
          # This specifically handles the "Relevant Projects"
          plugin_repositories: yes
          plugin_repositories_featured: your-best-repo-name-here # Optional: Force a specific repo
          plugin_repositories_order: featured, starred, size
